/* You can add global styles to this file, and also import other style files */
:root {
  --main-color : #AA0000;
}


.main {
  min-height:87.2%;

  margin:0 auto;

  position:relative;
  padding-bottom: 6%;
}

html, body {
  height: 100%;
}

body {
  font-family: "Times New Roman", Times, serif;
}
.content {
  padding-bottom: 2.5rem;    /* Footer height */
}
*{

  margin:0;

  padding:0;

}


